/* header style */

div.header{
    background-color:antiquewhite;
    height: 2.8rem;
}

.input-bar{
    display: flex;
    justify-content: flex-end;
}

.search-input{
    margin-top: 0.5rem;
    height: 1.6rem;
    border-radius: 5px;
    border: none;
}

.search-btn{
    height: 1.6rem;
    border-radius: 5px;
    background-color: lightblue;
    margin-right: 0.6rem;
    border: none;
}





div.all-post{
    padding: 1rem;
}

div.post{
    border: 2px soild black;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #000;
    padding: 0.8rem;
    margin: 1rem;
}